<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

        <p style="text-align: center;">
          <a href="https://github.com/JennySeidenschwarz"><img src="imgs/github.jpg" alt="drawing" width="30"></a> | <a href="https://www.linkedin.com/in/jenny-seidenschwarz"><img src="imgs/linkedin.jpg" alt="drawing" width="30"></a> | <a href="https://scholar.google.com/citations?user=7AiuDocAAAAJ&hl=en"><img src="imgs/google_scholar.png" alt="drawing" width="30"></a>  | <a href="mailto:jenny.seidenschwarz@gmail.com"><img src="imgs/gmail.png" alt="drawing" width="30"></a>
        </p>

  </div>

</footer>
